*{
    font-family : "Segoe UI Light";
}

.container{
    background-image: url('../../assets/img/fg_bg.png');
    background-size:cover; 
    height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: start;
}

.forget-password-item{
    transform: translateX(0);
    display: relative;
}

.forget-password-item input{
    padding: 8px;
    width: 250px;
    display: absolute;
}

.submit-btn{
    background-color: #3498db;
    border: 1px solid #eee;
    padding: 10px;
    color: white;
    margin-top: 10px;
}

.token-item{
    display: none;
    opacity: 0;
    transform: translateX(-140px);
    display: relative;
}

.token-item input{
    padding: 8px;
    width: 250px;
    display: absolute;
}

.token-item a{
    color: #fff;
    text-decoration: none;
}

.slide-out {
    animation: slide-out 2s forwards;
}

.slide-in {
    animation: slide-in 3s forwards;
}

.fade-in {
    display: block;
    animation: fade-in 3s forwards;
}

.fade-out {
    animation: fade-out 2s forwards;
    display: none;
}

@keyframes slide-out {
    100% { transform: translateX(-1000px); }
}
@keyframes slide-in {
    0% { transform: translateX(-1000px); }
    100% { transform: translateX(0px); }
}
@keyframes fade-in {
    100% { opacity: 1;}
}
@keyframes fade-out {
    100% { opacity: 0;}
}

